
body{
	background-color: red;
}

.loading-layer {
	background-color: rgba(255, 255, 255, 0.8);
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 999999;
}

.loading {
    background-color: transparent;
    border-radius: 0;
    height: 15px;
    left: 50%;
    position: relative;
    top: 50%;
    width: 15px;
}

.st-loader {
    box-sizing: border-box;
    height: 2.5em;
    margin: -1.25em 0 0 -5em;
    position: absolute;
    width: 10em;
} 

.st-loader:before, .st-loader:after {
    border: 0.25em solid #f80;
    bottom: 0;
    box-sizing: border-box;
    content: "";
    display: block;
    position: absolute;
    top: 0;
    width: 1.25em;
}

.st-loader:after {
    border-left: 0 none;
    right: -0.76923em;
}

.st-loader:before {
    border-right: 0 none;
    left: -0.76923em;
}

.st-loader .equal {
    animation: 1.5s ease-in-out 0s normal none infinite loading;
    border-color: #f80;
    border-image: none;
    border-style: solid;
    border-width: 0.25em 0;
    box-sizing: border-box;
    display: block;
    height: 1em;
    left: 4.16667em;
    margin-top: -0.5em;
    position: absolute;
    top: 50%;
    width: 1.66667em;
}

@-moz-keyframes loading {
  0% {
    left: 0;
  }
  50% {
    left: 8.33333em;
  }
  100% {
    left: 0;
  }
}
@-webkit-keyframes loading {
  0% {
    left: 0;
  }
  50% {
    left: 8.33333em;
  }
  100% {
    left: 0;
  }
}
@keyframes loading {
  0% {
    left: 0;
  }
  50% {
    left: 8.33333em;
  }
  100% {
    left: 0;
  }
}